<div class="container-fluid" ng-controller="createNewInvestigate">
	<div style="width:100%;height:50px;"></div>
	<div class="createNewInvestigate">
		<!--
        	作者：qxfnapoleon@163.com
        	时间：2016-07-27
        	描述：在没有创建任何问卷的时候显示的提示创建问卷的视图
        -->
		<div class="createButton" ng-click="create.createNewInvestigate()" ng-hide="create.isCreated">
			<span>+</span>
			新建问卷
		</div>
		<!--
        	作者：qxfnapoleon@163.com
        	时间：2016-07-27
        	描述：新建问卷中的具体的问题
        -->
		<div class="createArticle" ng-show="create.isCreated">
			<div style="height:20px;"></div>
			<div class="createTitle">
				<h3 ng-bind="detail.title" 
					contenteditable="true" 
					ng-blur="action.titleBlur()" 
					id="artileTitle">
					{{detail.title | deleteSpace }}
				</h3>
				<!--<input type="text" ng-model="detail.title" />-->
			</div>
			<!--
        	作者：qxfnapoleon@163.com
        	时间：2016-07-27
        	描述：所有的已经建立的问卷的题目列表
        -->
	        <div class="newInvestigateQuestionList">
	        	<div ng-repeat="question in detail.newInvestigateQuestion" class="singleQuestion">
	        		<ul>
	     				<li class="clearfix">
		     				Q{{$index+1}}&nbsp;&nbsp;
		     				<span contenteditable="true" 
		     					  ng-blur="action.blur($index, -1, $event, 'question')">
		     					{{question.question | deleteSpace }}
		     				</span>
		     				<span class="glyphicon glyphicon-remove" 
		     					  ng-click="action.deleteQustion($index)"></span>
		        			<span ng-class="{hide:question.type!='textArea'}" class="choiceOfTextArea">
		        				<input type="checkbox" 
		        					   ng-model="question.requiredToFix"
		        					   ng-change="action.requiredToFix($index)"/>
		        				&nbsp;&nbsp;此题是否为必答
		        			</span>
	     					<ul ng-init="index=$index;">
			        			<li ng-repeat="anwser in question.optional" 
			        				ng-init="name='anwser' + $index"
			        				ng-class="{hide:question.type!='radio'}">
			        				<input type="radio" name="name" />
			        				<span contenteditable="true" 
			        					  ng-blur="action.blur( index, $index, $event, 'anwser')">
			        					{{ anwser | deleteSpace }}
			        				</span>
			        				<span class="glyphicon glyphicon-remove" 
		     					  		  ng-click="action.deleteOption(index, $index)"></span>
			        			</li>
			        			<li ng-repeat="anwser in question.optional" 
			        				ng-init="name='anwser' + $index"
			        				ng-class="{hide:question.type!='checkbox'}">
			        				<input type="checkbox" name="name" />
			        				<span contenteditable="true" 
			        					  ng-blur="action.blur( index, $index, $event, 'answer')">
			        					{{ anwser | deleteSpace }}
			        				</span>
			        				<span class="glyphicon glyphicon-remove" 
		     					  		  ng-click="action.deleteOption(index, $index)"></span>
			        			</li>
			        			<li ng-class="{hide:question.type!='textArea'}">
			        				<div class="editArea" contenteditable="true"
			        					
			        				</div>
			        			</li>
			        			<p ng-class="{hide:question.type=='textArea'}" 
			        			   class="addOption"
			        			   ng-click="action.addOption(index)">添加选项</p>
	     					</ul>
	     				</li>
	        		</ul>
	        	</div>
	        </div>
			<div class="guide">
				<div class="modelPanel">
					<div ng-click="action.selectQuestionModel('radio')"><input type="radio"/ >单选</div>
					<div ng-click="action.selectQuestionModel('checkbox')"><input type="checkbox" />多选</div>
					<div ng-click="action.selectQuestionModel('textArea')">
						<span class="glyphicon glyphicon-list-alt"></span>文本题
					</div>
				</div>
				<div class="addQuestion" ng-click="action.createQuestion()">
					<span>+</span>&nbsp;新建问卷
				</div>
			</div>
			<div class="guide-footer clearfix">
				<div>
					问卷截止日期
					<input type="date" name="input" 
						id="limitTime" class="publishTime"
      					placeholder="YYYY-MM-dd" />
				</div>
      			
      			<button ng-click="action.publish()">发布问卷</button>
      			<button ng-click="action.save()">保存问卷</button>
			</div>
		</div>
	</div>
	<prompt-box></prompt-box>
</div>