<div class="container-fluid" ng-controller="investigateManager">
	<div style="width:100%;height:50px;"></div>
	<div class="investigateShow">
		<div class="titleOfInvestigate clearfix">
			<div>
				<!--
                	作者：qxfnapoleon@163.com
                	时间：2016-07-25
                	描述：为了和下面的复选框对应,加上这个空格的作用是为了使得css样式生效，如果这个DIV
                	中空空如也，那么CSS就会选择放弃渲染
                -->
                &nbsp;
			</div>
			<div>标题</div>
			<div>时间</div>
			<div>状态</div>
			<div>操作</div>
			<div>
				<button ng-click="investigate.createNewInvestigate()">
					<span class="glyphicon glyphicon-plus"></span>新建问卷
				</button>
			</div>
		</div>
		
		<!--
        	作者：qxfnapoleon@163.com
        	时间：2016-07-26
        	描述：下面将有ng-repeat指令对模型中的问卷数据进行显示
        -->
		<div class="listOfInvestigate clearfix" ng-repeat=" singleInvestigate in allInvestigate" ng-cloak>
			<div>
				<input type="checkbox" 
					   ng-click="investigate.seleceSingleInvestigate( $index )" 
					   ng-checked="checkBoxSelectAll"/>
			</div>
			<div>{{singleInvestigate.title}}</div>
			<div>{{singleInvestigate.publishTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
			<div ng-class="{publishing:singleInvestigate.state=='未发布'}">{{singleInvestigate.state}}</div>
			<div>
				<button ng-click="investigate.edit( $index )">编辑</button>
				<button ng-click="investigate.delete( $index)">删除</button>
				<button ng-click="investigate.checkout( $index )">查看数据</button>
			</div>
		</div>
	
		<div class="subInvestigate clearfix">
			<div>
				<input type="checkbox" ng-click="investigate.selectAll()" ng-model="checkBoxSelectAll"/>全选
			</div>
			<div>
				<button ng-click="investigate.deleteAll()">删除</button>
			</div>
		</div>
	</div>
	
	<!--
    	作者：qxfnapoleon@163.com
    	时间：2016-07-25
    	描述：定义当用户点击删除某一个问卷的时候的浮出层，这个浮出的高度有JavaScript来决定
   -->
	<prompt-box></prompt-box>
</div>